<p-card>
  <ng-template #header>
    <img
      [src]="product.img"
      [alt]="product.name"
      (error)="onImageError($event)"
    />
  </ng-template>
  <ng-template #title> {{ product.name | titlecase }} </ng-template>
  <ng-template #subtitle>
    {{ product.price * product.minOrderAmount }} Ft
    {{
      product.minOrderAmount > 1
        ? "/" + product.minOrderAmount + "Darab"
        : "/Darab"
    }}
  </ng-template>
  <p>Raktáron: {{ product.availableAmount }} Darab</p>
  <ng-template #footer>
    <div class="footer">
      <button
        pButton
        variant="outlined"
        [rounded]="true"
        (click)="addProductToCart()"
      >
        Kosárba
      </button>
    </div>
  </ng-template>
</p-card>
