<header>
  <div class="row">
    <div class="col-md-8 search-container">
      <p-iconfield class="search">
        <input
          class="col-12"
          type="text"
          pInputText
          [(ngModel)]="searchTerm"
          (ngModelChange)="filterProducts()"
          placeholder="Keresés a termékek között"
        />
        <p-inputicon class="pi pi-search" />
      </p-iconfield>
    </div>
    <div class="col-md-4">
      <a
        *ngIf="path=='cart'"
        [routerLink]="[ '/products' ]"
        pButton
        [rounded]="true"
      >
        Termék Lista
      </a>
      <a
        *ngIf="path=='products'"
        [routerLink]="[ '/cart' ]"
        pButton
        [rounded]="true"
        class="cart"
      >
        <p-overlaybadge [value]="cartTotalItems" severity="info">
          <i class="pi pi-shopping-cart" pButtonIcon></i>
        </p-overlaybadge>
        <span pButtonLabel class="cart_amount">{{ cartTotalPrice}}</span>
        <i class="pi pi-chevron-right" pButtonIcon></i>
      </a>
    </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
